.medical-cases {
  padding: 15px;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px;
  border-radius: 15px;
}

.insert-medical-case {
  padding: 50px;
  margin: 30px;
  /*background-color: rgba(255, 255, 255, 0.75);*/
  border: 2px;
  /*border-radius: 15px;*/
  position: relative;
}

.cfp-image {
  left: 71%;
  width: 420px;
  float: right;
  border: rgb(0, 138, 140) 5px solid;
}

.upload-image {
  color: rgb(0, 138, 140) !important;
}

button.add-case:enabled {
  align-self: end;
  width: 300px;
  height: 50px;
  margin-left: 20px;
  background-color: rgb(0, 138, 140) !important;
}

button.add-case:disabled {
  align-self: end;
  width: 300px;
  height: 50px;
  margin-left: 20px;
}

mat-datepicker-toggle {
  color: rgb(0, 138, 140) !important;
}

.align-left {
  display: inline-block;
}

.small-input {
  width: 20% !important;
  margin-right: 50px;
}

.black {
  color: #343434 !important;
}

.link {
  background-color: white;
  border: 2px solid white;
  color: blue;
  text-decoration: underline;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}


.to-right {
  float: right;
}

.to-left {
  position: relative;
  top: 40px;
}

.additional-info {
  width: 100%;
  margin-left: -5px;
  margin-bottom: -20px;
  height: 100%;
}

.small-input {
  width: 20% !important;
  margin-right: 50px;
}

.search-case {
  align-self: end;
  width: 300px;
  height: 50px;
  margin-left: 20px;
  top: -30px;
}

.search-case:disabled {
  align-self: end;
  width: 300px;
  height: 50px;
  margin-left: 20px;
  top: -30px;
}

.search-case:enabled {
  align-self: end;
  width: 300px;
  height: 50px;
  margin-left: 20px;
  top: -30px;
  background-color: rgb(0, 138, 140) !important;
}

.cfp-image-div {
  left: 71%;
  width: 420px;
  height: 100%;
  float: right;
}

.input {
  position: relative;
  width: 71% !important;
}

.align {
  width: 100%;
}

.evaluation-file {
  width: 70%;
}

.half-input {
  position: relative;
  width: 34% !important;
  margin-right: 2%;
}
