<div class="content">
  <!--  <div class="intro">-->
  <!--    <br><br><br><br>-->
  <!--    <div class="generals-title"> Cabinet Stomatologic DentaWeb</div>-->
  <!--    <hr>-->
  <!--    <br>-->
  <!--    <div class="generals">-->
  <!--      <br>-->
  <!--      Cabinetul stomatologic DentaWeb din cartierul Zorilor, Cluj-Napoca, va pune la dispozitie servicii complete si-->
  <!--      moderne de stomatologie.-->
  <!--      <br><br>-->
  <!--      <a href="desprenoi" class="button"> Afla mai multe </a>-->
  <!--    </div>-->
  <!--    <br><br><br><br><br><br><br><br><br><br><br>-->
  <!--  </div>-->
  <!--  <div class="info">-->
  <!--    <br>-->
  <!--    <br>-->
  <!--    <div class="center"><h1>Stomatologie moderna si echipamente de ultima generatie</h1><br>-->
  <!--      Cu o experienta de peste 10 ani, echipa noastra de medici stomatologi specialisti va garanteaza calitatea si-->
  <!--      profesionalismul tratamentelor de orice natura prin folosirea de echipamente moderne, de ultima generatie,-->
  <!--      tratamente stomatologice care contribuie la mentinerea sanatoasa si frumoasa a dintilor.-->

  <!--      Echipa noastra de medici stomatologi specialisti va sta la dispozitie intr-un mediu calm si relaxant.-->
  <!--    </div>-->
  <!--    <br><br><br><br>-->
  <!--    <iframe width="700" height="480"-->
  <!--            src="https://www.youtube.com/embed/KJ8ypV-Fcvo">-->
  <!--    </iframe>-->

  <!--    <div class="more-info">-->

  <!--      <h1> Informatii generale </h1>-->
  <!--      <table>-->
  <!--        <tr>-->
  <!--          <td> Luni</td>-->
  <!--          <td> 09:00 - 20:00</td>-->
  <!--        </tr>-->
  <!--        <tr>-->
  <!--          <td> Marti</td>-->
  <!--          <td> 09:00 - 20:00</td>-->
  <!--        </tr>-->
  <!--        <tr>-->
  <!--          <td> Miercuri</td>-->
  <!--          <td> 09:00 - 20:00</td>-->
  <!--        </tr>-->
  <!--        <tr>-->
  <!--          <td> Joi</td>-->
  <!--          <td> 09:00 - 20:00</td>-->
  <!--        </tr>-->
  <!--        <tr>-->
  <!--          <td> Vineri</td>-->
  <!--          <td> 09:00 - 20:00</td>-->
  <!--        </tr>-->
  <!--        <tr>-->
  <!--          <td> Sambata</td>-->
  <!--          <td> Inchis</td>-->
  <!--        </tr>-->
  <!--        <tr>-->
  <!--          <td> Duminica</td>-->
  <!--          <td> Inchis</td>-->
  <!--        </tr>-->
  <!--      </table>-->
  <!--      <br>-->
  <!--      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost"-->
  <!--           viewBox="0 0 16 16">-->
  <!--        <path-->
  <!--          d="M7 1.414V4H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h5v6h2v-6h3.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H9V1.414a1 1 0 0 0-2 0zM12.532 5l1.666 2-1.666 2H2V5h10.532z"/>-->
  <!--      </svg>-->
  <!--      Str. Zorilor nr. 10, cartierul Zorilor <br>-->
  <!--      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone"-->
  <!--           viewBox="0 0 16 16">-->
  <!--        <path-->
  <!--          d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>-->
  <!--      </svg>-->
  <!--      0748 580 499 <br>-->
  <!--      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar4"-->
  <!--           viewBox="0 0 16 16">-->
  <!--        <path-->
  <!--          d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>-->
  <!--      </svg>-->
  <!--      Luni-Vineri: 9:00-20:00 <br>-->
  <!--      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"-->
  <!--           viewBox="0 0 16 16">-->
  <!--        <path-->
  <!--          d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>-->
  <!--      </svg>-->
  <!--      office@dentaweb.ro <br>-->
  <!--    </div>-->
  <!--    <br><br><br><br>-->
  <!--  </div>-->

  <!--  <div class="div-transparent">-->

  <!--    <br>-->
  <!--    <div class="generals-title">Servicii oferite de catre clinica:</div>-->
  <!--    <hr>-->
  <!--    <br>-->
  <!--    <table class="tabel-servicii">-->
  <!--      <tr>-->
  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Ortodontie-->
  <!--        </td>-->

  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Tratamente proteice-->
  <!--        </td>-->

  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Tratamente endodontice-->
  <!--        </td>-->
  <!--      </tr>-->

  <!--      <tr>-->
  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Consultatii-->
  <!--        </td>-->

  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Radiologie-->
  <!--        </td>-->

  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Tratamente odontale-->
  <!--        </td>-->
  <!--      </tr>-->

  <!--      <tr>-->
  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Tratamente pedodontice-->
  <!--        </td>-->

  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Tratamente proteice-->
  <!--        </td>-->

  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Interventii sub microscop-->
  <!--        </td>-->
  <!--      </tr>-->

  <!--      <tr>-->
  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Tratamente profilaxie-->
  <!--        </td>-->

  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Cosmetica dentara-->
  <!--        </td>-->

  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Chirurgie plastica - proceduri cosmetice-->
  <!--        </td>-->
  <!--      </tr>-->

  <!--      <tr>-->
  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Tratamente chirurgie orala si maxilo-faciala-->
  <!--        </td>-->

  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Tratamente parodontologie-->
  <!--        </td>-->

  <!--        <td>-->
  <!--          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
  <!--               class="bi bi-arrow-right-short" viewBox="0 0 16 16">-->
  <!--            <path fill-rule="evenodd"-->
  <!--                  d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>-->
  <!--          </svg>-->
  <!--          Urgente, Accidente, Complicatii-->
  <!--        </td>-->
  <!--      </tr>-->
  <!--    </table>-->
  <!--    <br>-->
  <!--  </div>-->
  <!--  <div class="info">-->
  <!--    <div class="center">-->
  <!--      <br><br>-->
  <!--      <h1>Preturile noastre</h1>-->
  <!--      <hr>-->
  <!--      <br>-->
  <!--      Alege unul dintre serviciile oferite de clinica stomatologica DentaWeb si vezi preturile specifice fiecarui-->
  <!--      serviciu in parte.-->
  <!--      <br><br><br><br><br>-->
  <!--      <a href="serviciitarife" class="button"> Vezi lista preturi </a>-->
  <!--    </div>-->
  <!--    <br><br><br><br>-->
  <!--  </div>-->

  <br><br><br><br><br>
  <div class="filters">
    <mat-form-field class="small-input" appearance="fill">
      <mat-label>Nume</mat-label>
      <input matInput [(ngModel)]="searchedLastName">
    </mat-form-field>
    <mat-form-field class="small-input" appearance="fill">
      <mat-label>Prenume</mat-label>
      <input matInput [(ngModel)]="searchedFirstName">
    </mat-form-field>
    <mat-form-field class="small-input" appearance="fill">
      <mat-label>Data nasterii</mat-label>
      <input matInput [matDatepicker]="dp" [(ngModel)]="searchedBirthDate">
      <mat-datepicker-toggle matIconSuffix [for]="dp" style="padding-right: 10px;"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
      <!--      <mat-error *ngIf="checkDate(this.dataNasterii.value!)">{{getErrorMessage()}}</mat-error>-->
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="searchMedicalCases()"
            [disabled]="searchedLastName === '' || searchedFirstName === '' || searchedBirthDate === ''"
            class="search-case">
      Cauta caz medical
    </button>
  </div>
  <mat-card *ngFor="let medicalCase of medicalCases;let i = index;" class="insert-medical-case">

    <div>
    <!--    <div class="input">-->
    <h1>Caz medical {{i+1}} - {{formatDate(medicalCase.insertDate)}}</h1>
<!--    <div class="align-left">-->
<!--      &lt;!&ndash;      <mat-form-field class="small-input" appearance="fill">&ndash;&gt;-->
<!--      &lt;!&ndash;        <mat-label>Nume</mat-label>&ndash;&gt;-->
<!--      &lt;!&ndash;        <input matInput [(ngModel)]="medicalCase.lastName">&ndash;&gt;-->
<!--      &lt;!&ndash;      </mat-form-field>&ndash;&gt;-->
<!--      &lt;!&ndash;      <mat-form-field class="small-input" appearance="fill">&ndash;&gt;-->
<!--      &lt;!&ndash;        <mat-label>Prenume</mat-label>&ndash;&gt;-->
<!--      &lt;!&ndash;        <input matInput [(ngModel)]="medicalCase.firstName">&ndash;&gt;-->
<!--      &lt;!&ndash;      </mat-form-field>&ndash;&gt;-->
<!--      <mat-form-field class="small-input" appearance="fill">-->
<!--        <mat-label>Data nasterii</mat-label>-->
<!--        <input matInput [matDatepicker]="dp" [(ngModel)]="medicalCase.birthDate">-->
<!--        <mat-hint>DD.MM.YYY</mat-hint>-->
<!--        <mat-datepicker-toggle matIconSuffix [for]="dp" style="padding-right: 10px;"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #dp></mat-datepicker>-->
<!--        &lt;!&ndash;      <mat-error *ngIf="checkDate(this.dataNasterii.value!)">{{getErrorMessage()}}</mat-error>&ndash;&gt;-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--    <br>-->
<!--    <mat-form-field class="input" appearance="fill">-->
<!--      <mat-label class="black">Data prezentarii</mat-label>-->

<!--      <input matInput [matDatepicker]="dp2" [(ngModel)]="medicalCase.insertDate" disabled class="black">-->
<!--      <mat-hint>DD.MM.YYY</mat-hint>-->
<!--      <mat-datepicker-toggle matIconSuffix [for]="dp2" style="padding-right: 10px;"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #dp2></mat-datepicker>-->
<!--    </mat-form-field>-->
    <br>    <div class="cfp-image">
    <img [src]="'data:image/jpeg;base64,' + medicalCase.cfpimage" class="preview" width="100%" height="100%"
         alt="Imagine CFP" (click)="openImage(medicalCase.cfpimage)">
  </div>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Informatii aditionale</mat-label>
      <textarea matInput [(ngModel)]="medicalCase.additionalInformation" rows="1"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="input">
      <mat-label>Diagnostic rezident</mat-label>
      <mat-select [(ngModel)]="medicalCase.residentDiagnosis">
        <mat-select-trigger>
          {{medicalCase.residentDiagnosis}}
        </mat-select-trigger>
        <mat-option *ngFor="let disease of diseases" [value]="disease">{{disease}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Diagnostic diferential</mat-label>
      <textarea matInput [(ngModel)]="medicalCase.differentialDiagnosis" rows="1"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Plan terapeutic</mat-label>
      <textarea matInput [(ngModel)]="medicalCase.therapeuticPlan" rows="1"></textarea>
    </mat-form-field>
    <br>

    </div>
    <div class="align">
<!--      <div class="to-left">-->
      <button class="link to-left" (click)="showOtherCases(medicalCase.encodedInfo)" style="align-self: start; "> Vizualizeaza
        cazuri medicale anterioare ale acestui pacient
      </button>
<!--      </div>-->
      <!--      <a [attr.href]="'/medical-cases?encodedInfo='+medicalCase.encodedInfo" style="align-self: start;"> Vizualizeaza cazuri medicale anterioare ale actestui pacient</a>-->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="to-right">
        <button mat-flat-button color="primary" (click)="updateMedicalCase(medicalCase)"
                [disabled]="medicalCase.residentDiagnosis === '' || medicalCase.residentDiagnosis === undefined || medicalCase.residentDiagnosis === null"
                class="add-case">
          Salveaza caz medical
        </button>
        <button mat-flat-button color="primary" (click)="moveToCompleted(medicalCase)"
                [disabled]="medicalCase.residentDiagnosis === '' || medicalCase.residentDiagnosis === undefined || medicalCase.residentDiagnosis === null"
                class="add-case">
          Finalizeaza caz
        </button>
      </div>

    </div>
  </mat-card>

  <mat-paginator #paginator class="paginator" [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true"
                 [length]="totalSize"
                 [pageIndex]="currentPage"
                 (page)="handlePage($event.pageIndex, $event.pageSize, searchedEncodedInfo)">
  </mat-paginator>
</div>
