<div class="content">
  <br><br><br><br><br>
  <div class="filters">
    <mat-form-field class="small-input" appearance="fill">
      <mat-label>Diagnostic</mat-label>
      <input matInput [(ngModel)]="searchedDiagnostic">
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="searchMedicalCases()"
            [disabled]="searchedDiagnostic === ''"
            class="search-case">
      Cauta caz medical
    </button>
  </div>
  <mat-card *ngFor="let medicalCase of medicalCases; let i=index" class="insert-medical-case">
    <div class="align-left">
      <mat-form-field class="half-input" appearance="fill">
        <mat-label class="black">Diagnostic rezident</mat-label>
        <input matInput [(ngModel)]="medicalCase.residentDiagnosis" disabled class="black">
      </mat-form-field>
      <mat-form-field class="half-input" appearance="fill">
        <mat-label class="black">Diagnostic prezis</mat-label>
        <input matInput [(ngModel)]="medicalCase.presumptiveDiagnosis" disabled class="black">
      </mat-form-field>
      <mat-form-field class="half-input" appearance="fill">
        <mat-label class="black">Data adaugarii</mat-label>
        <input matInput [ngModel]="formatDate(medicalCase.insertDate)" disabled class="black">
      </mat-form-field>
      <mat-form-field class="half-input" appearance="fill">
        <mat-label class="black">Diagnostic expert</mat-label>
        <input matInput [(ngModel)]="medicalCase.correctDiagnosis" disabled class="black">
      </mat-form-field>
     </div>

    <div class="cfp-image">
      <img [src]="'data:image/jpeg;base64,' + medicalCase.cfpimage" class="preview" width="100%" height="100%"
           alt="Imagine CFP" (click)="openImage(medicalCase)">
    </div>
    <p class="to-left">
      Dificultate: {{medicalCase.difficultyScore}}
      &nbsp;&nbsp;&nbsp;&nbsp;Scor: {{medicalCase.completedByExpert ? medicalCase.score : "Neevaluat"}}
    </p>
    <button mat-flat-button color="primary" (click)="openEvaluationFile(medicalCase)"
            [disabled]="medicalCase.score === -1 || !medicalCase.completedByExpert"
            class="add-case">
      Afiseaza fisa de evaluare
    </button>
  </mat-card>
  <br>
  <br>
  <mat-paginator class="paginator" [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true"
                 [length]="totalSize"
                 [pageIndex]="currentPage"
                 (page)="handlePage($event.pageIndex, $event.pageSize, searchedDiagnostic)">
  </mat-paginator>
</div>
