.medical-cases {
  padding: 15px;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px;
  border-radius: 15px;
}

.insert-medical-case {
  padding: 25px;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px;
  border-radius: 15px;
  min-height: 280px;
}

.input {
  position: relative;
  width: 80% !important;
}

.half-input {
  position: relative;
  width: 39% !important;
  margin-right: 2%;
}

.cfp-image {
  left: 85%;
  height: 210px;
  width: 210px;
  position: absolute;
  margin-top: 5px;
  border: rgb(0, 138, 140) 5px solid;
}

button.add-case:enabled {
  width: 300px;
  align-self: end;
  height: 50px;
  background-color: rgb(0, 138, 140) !important;
  margin-left: 20px;
  margin-right: 350px;
}

.upload-image {
  color: rgb(0, 138, 140) !important;
}

button.add-case:disabled {
  align-self: end;
  margin-right: 350px;
  width: 300px;
  height: 50px;
  margin-left: 20px;
}

mat-datepicker-toggle {
  color: rgb(0, 138, 140) !important;
}

.align {
  align-self: end;
}

.align-left {
  display: inline-block;
}

.small-input {
  width: 20% !important;
  margin-right: 50px;
}

.black {
  color: #343434 !important;
}

.search-case {
  align-self: end;
  width: 300px;
  height: 50px;
  margin-left: 20px;
  top: -30px;
}

.search-case:enabled {
  background-color: rgb(0, 138, 140) !important;
}

.to-left {
  position: relative;
  top: 50px;
  font-weight: bold;
  left: 25px;
}
