.medical-cases {
  padding: 15px;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px;
  border-radius: 15px;
}

.insert-medical-case {
  padding: 50px;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px;
  border-radius: 15px;
  height: 100%;
}

.input {
  position: relative;
  width: 66% !important;
}

.cfp-image {
  left: 71%;
  height: 420px;
  width: 420px;
  position: absolute;
  margin-top: 20px;
  border: rgb(0, 138, 140) 5px solid;
}

button.add-case:enabled {
  width: 300px;
  align-self: end;
  height: 50px;
  background-color: rgb(0, 138, 140) !important;
  margin-left: 20px;
}

button.auto-add-case {
  width: 97%;
  align-self: end;
  height: 50px;
  background-color: rgb(0, 138, 140) !important;
  margin-left: 30px;
}

.upload-image {
  color: rgb(0, 138, 140) !important;
}

button.add-case:disabled {
  align-self: end;
  width: 300px;
  height: 50px;
  margin-left: 20px;
}

mat-datepicker-toggle {
  color: rgb(0, 138, 140) !important;
}

.border {
  align-self: end;
}

.small-input {
  width: 20% !important;
  margin-right: 50px;
}

.align-left {
  display: inline-block;
}

.black {
  color: #343434 !important;
}
