<div class="content">
  <br><br><br><br><br><br>
  <button mat-flat-button color="primary" (click)="automaticallyAddMedicalCases()" class="auto-add-case" *ngIf="!started">
    Start automatic mode to add medical cases
  </button>
  <button mat-flat-button color="primary" (click)="stopAutomaticallyAddMedicalCases()" class="auto-add-case" *ngIf="started">
    Stop automatic mode to add medical cases
  </button>
  <mat-card *ngIf="role==='OPERATOR'" class="insert-medical-case">
    <!--    <div class="input">-->
    <br>
    <div class="align-left">
      <mat-form-field class="small-input" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput [formControl]="lastName">
      </mat-form-field>
      <mat-form-field class="small-input" appearance="fill">
        <mat-label>First Name</mat-label>
        <input class="input" matInput [formControl]="firstName">
        <mat-error *ngIf="firstName.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="small-input" appearance="fill">
        <mat-label>Birthdate</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="birthDate" [max]="today">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp" style="padding-right: 10px;"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </div>
    <br>
    <mat-form-field class="input">
      <mat-label class="black">Select image</mat-label>
      <input matInput (click)="fileInput.click()" disabled value="{{selectedFileName}}" class="black"/>
      <button mat-icon-button matSuffix (click)="fileInput.click()" style="margin-right: 10px">
        <mat-icon class="upload-image">add_photo_alternate</mat-icon>
      </button>
      <input hidden type="file" id="file" #fileInput accept="image/*" (change)="selectFiles($event)"/>
    </mat-form-field>
    <br>
    <mat-radio-group aria-label="Modalitate de prezicere a diagnosticului" [(ngModel)]="presumptiveDiagnosisModality">
      <mat-radio-button value="withModel">Use deeplearning model to predict diagnosis</mat-radio-button>
      <mat-radio-button value="withoutModel">Do not use deeplearning model to predict diagnosis</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-form-field appearance="fill" class="input" *ngIf="presumptiveDiagnosisModality === 'withoutModel'">
      <mat-label>Diagnosis</mat-label>
      <mat-select [formControl]="presumptiveDiagnosis">
        <mat-select-trigger>
          {{presumptiveDiagnosis.value}}
        </mat-select-trigger>
        <mat-option *ngFor="let disease of diseases" [value]="disease.name">{{disease.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="input">
      <mat-label>Additional information</mat-label>
      <textarea matInput [formControl]="additionalInformation" [rows]="getNumberOfRows(presumptiveDiagnosisModality)"></textarea>
    </mat-form-field>
    <br>
    <button mat-flat-button color="primary" (click)="addMedicalCase()"
            class="add-case">
      Add medical case
    </button>
    <div class="cfp-image">
      <img [src]="previewImage? previewImage: 'assets/icon.png' " class="preview" width="100%" height="100%"
           alt="Imagine CFP">
    </div>
  </mat-card>

</div>
