<div class="modal">
  <div class="div-icon">
    <!--    <span class="material-icons icon">-->
    <!--    error_outline-->
    <!--    </span>-->
    <img src="/assets/success.png" class="icon">
  </div>
  <div class="title">
    <div mat-dialog-title class="title-content"> Succes </div>
  </div>

  <!--  <hr><br>-->
  <div mat-dialog-content class="content">
    {{message}}
  </div>
  <!--  <br><hr>-->
  <br>
  <div mat-dialog-actions align="center">
    <button class="close-button" mat-flat-button color="primary" mat-dialog-close>Inchide</button>
  </div>
</div>

