h1 {
  text-align: center;
  position: relative;
  top: -10px;
  color: rgb(77, 159, 125);
}

.div-icon {
  text-align: center;
  overflow: hidden;
  height: 60px;
  width: 100%;
  background-color: rgb(77, 159, 125);
}

.icon {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 50px;
  width: 50px;
  z-index: 1000;
}

.material-icons {
  font-size: 48px;
}

.content {
  text-align: center;
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.mat-button {
}

.modal {
  width: 250px;
}

.modal {
  width: 750px;
}

button.close-button {
  width: 300px;
  align-self: end;
  height: 50px;
  background-color: rgb(77, 159, 125);
  margin-left: 20px;
}

.title {
  position: relative;
  top: -35px;
  align-content: center;
  align-self: center;
  align-items: center;
  height: 50px;
}

.title-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  width: 120px;
  top: -35px;
  color: white;
  background-color: rgb(77, 159, 125);
  border-radius: 30px;
}
