<div class="nav-bar">
  <ul>
    <li class="nav-bar-item" id="nav-bar-logo">
      <a id="elements" class="logo">
        <img alt="Tooth Logo" src="/assets/logo.png"/>
        <div class="logo-title-first">CFP</div>
        <div class="logo-title-second">-</div>
        <div class="logo-title-third">Ophthalmology</div>
      </a>
    </li>
    <li>
    </li>
<!--    <li class="nav-bar-item" *ngIf="!loggedIn">-->
<!--      <a href="signup" id="elements">Inregistrare</a>-->
<!--    </li>-->
<!--    <li class="nav-bar-item" *ngIf="!loggedIn">-->
<!--      <a href="login" id="elements">Autentificare</a>-->
<!--    </li>-->

    <li class="nav-bar-item" *ngIf="loggedIn">

      <a [matMenuTriggerFor]="menu">
        <div class="nav-bar-item-without-line username" *ngIf="loggedIn">
          <a>{{username}}</a>
        </div>
        <span class="material-icons" style="font-size:40px; margin-top:-15px; cursor:pointer;">
        account_circle
        </span></a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="role === 'RESIDENT' && grade>=0">Grade {{grade}}</button>
        <button mat-menu-item (click)="goTo('/logout')">Logout</button>
      </mat-menu>
    </li>
    <li class="nav-bar-item" *ngIf="role=='OPERATOR'" id="elements">
      <a href="medical-cases/insert">Insert medical cases</a>
    </li>
    <li class="nav-bar-item" *ngIf="role=='RESIDENT'" id="elements">
      <a href="medical-cases/charts">Statistics</a>
    </li>
    <li class="nav-bar-item" *ngIf="role=='RESIDENT'" id="elements">
      <a href="medical-cases/completed">Complete medical cases</a>
    </li>
    <li class="nav-bar-item" *ngIf="role=='RESIDENT'" id="elements">
      <a href="medical-cases/incomplete">Incomplete medical cases</a>
    </li>
    <li class="nav-bar-item" *ngIf="role=='EXPERT'" id="elements">
      <a href="medical-cases/incomplete">Medical cases</a>
    </li>
    <li class="nav-bar-item" *ngIf="role=='ADMIN'" id="elements">
      <a href="diseases">Diagnoses</a>
    </li>
    <li class="nav-bar-item" *ngIf="role=='ADMIN'" id="elements">
      <a href="users">Users</a>
    </li>
  </ul>
</div>
