<div class="modal" *ngIf="colors">
<!--  <br>-->
<!--  <img [src]="resizedImage" *ngIf="role === 'RESIDENT' && medicalCase.completedByResident" width="900" height="900">-->

  <img crossorigin="anonymous" [src]="resizedImage" *ngIf="role === 'RESIDENT' && medicalCase.completedByResident" width="900" height="900">
  <image-drawing crossorigin="anonymous"
                 *ngIf="role != 'RESIDENT' || !medicalCase.completedByResident"
                 [src]="resizedImage"
                 outputMimeType="'image/jpeg'"
                 [outputQuality]=outputQuality
                 (save)="save($event)"
                 (cancel)="reset()"
                 [colors]="colors"
                 [drawingSizes]="drawingSizes">
  </image-drawing>
  <p style="padding: 10px; text-align: center; font-size: 12px;" *ngIf="role != 'RESIDENT' || !medicalCase.completedByResident">{{message}}</p>
</div>
